{% extends 'admin/index.html.twig' %}

{% block title %}Le Bestiaire _ admin image edit{% endblock %}

{% block adminContent %}
    <h2>Édition d'une image</h2>

    {{ form(imageForm, {
        'attr': {
            'novalidate': 'novalidate'
        }
    }) }}
{% endblock %}
