{% extends 'admin/index.html.twig' %}

{% block title %}Le Bestiaire _ admin images list{% endblock %}

{% block adminContent %}
    <h2>Liste des images</h2>

    <a href="{{ path('admin_images_create') }}">Créer</a>
{% endblock %}
