{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_home_style') }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert  alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    <div>
        <a href="{{ path('app_login') }}">Connexion</a>
    </div>

    {% if is_granted('ROLE_CONTRIBUTOR') %}
    <div>
        <a href="{{ path('admin') }}">Administration</a>
    </div>
    {% endif %}

{% endblock %}
