{% extends 'admin/index.html.twig' %}

{% block title %}Le Bestiaire _ admin movies list{% endblock %}

{% block adminPageTitle %}Liste des vidéos{% endblock %}

{% block adminContent %}
    <a href="{{ path('admin_movies_create') }}">Créer</a>
{% endblock %}
