<h1>Salut !</h1>

<p>Pour modifier ton mot de passe, clic sur ce lien ou colle cette url dans ton navigateur :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>À bientôt !</p>
