{% extends 'base.html.twig' %}

{% block title %}Le Bestiaire - administration{% endblock %}

{% block body %}
    <h1>
        Le bestiaire
        <span>
            Administration
        </span>
    </h1>

    <nav>
        <ul>
            <li><a href="{{ path('admin') }}">Administation</a></li>
            <li><a href="{{ path('admin_categories_list') }}">Catégories</a></li>
            <li><a href="{{ path('admin_images_list') }}">Images</a></li>
            <li><a href="{{ path('admin_monsters_list') }}">Monstres</a></li>
        </ul>
    </nav>

    {% include 'admin/_layouts/flash-message.html.twig' %}

    {% block adminContent %}


    {% endblock %}
{% endblock %}
