{% extends 'admin/index.html.twig' %}

{% block title %}Le Bestiaire _ admin monster create{% endblock %}

{% block adminContent %}
    <h2>Création d'un nouveau monstre</h2>

    {{ form(monsterForm, {
        'attr': {
            'novalidate': 'novalidate'
        }
    }) }}
{% endblock %}
