{% extends 'admin/index.html.twig' %}

{% block title %}Le Bestiaire _ admin monster edit{% endblock %}

{% block adminContent %}
    <h2>Édition d'un monstre</h2>

    {{ form(monsterForm, {
        'attr': {
            'novalidate': 'novalidate'
        }
    }) }}
{% endblock %}
