{% extends 'admin/index.html.twig' %}

{% block title %}Le Bestiaire _ admin category create{% endblock %}

{% block adminContent %}
    <h2>Création d'une nouvelle catégorie</h2>

    {{ form(categoryForm, {
        'attr' : {
            'novalidate': 'novalidate'
        }
    }) }}
{% endblock %}
