{% extends 'admin/index.html.twig' %}

{% block title %}Le Bestiaire _ admin category list{% endblock %}

{% block adminContent %}
    <h2>Liste des catégories</h2>

    <a href="{{ path('admin_categories_create') }}">Créer</a>
{% endblock %}
